[Desktop Entry]
Encoding=UTF-8
Type=Service
MimeType=application/tga;application/x-targa;application/x-tga;image/astc;image/ktx;image/ktx2;image/targa;image/tga;image/vnd.ms-dds;image/vnd.valve.source.texture;image/x-dds;image/x-didj-texture;image/x-godot-stex;image/x-icb;image/x-sega-gvr;image/x-sega-pvr;image/x-sega-pvrx;image/x-sega-svr;image/x-targa;image/x-tga;image/x-vtf;image/x-vtf3;image/x-xbox-xpr0;image/vnd.microsoft.icon;application/ico;image/ico;image/icon;image/x-ico;image/x-icon;text/ico;image/vnd.microsoft.cursor;image/x-cursor;
Actions=rpConvertToPng;
ServiceTypes=KonqPopupMenu/Plugin
X-KDE-ServiceTypes=KonqPopupMenu/Plugin

[Desktop Action rpConvertToPng]
TryExec=rp-stub
# TODO:
# - allow type overrides? for this it should always be image
# - handle multiple filenames
Exec=rp-stub -s 0 -an %f
Icon=image-png

Name=Convert to PNG
Name[de]=In PNG umwandeln
Name[fr]=Convertir en PNG
Name[ru]=Преобразовать в PNG

Comment=Convert the selected texture file(s) to PNG format (rom-properties)
