[Desktop Entry]
Icon=media-flash
Exec=rp-config
Terminal=false
Type=Application
Categories=Settings;
SingleMainWindow=true
StartupNotify=true
Name=ROM Properties Page configuration
Name[de]=ROM Properties Page konfiguration
Name[en_GB]=ROM Properties Page configuration
Name[en_US]=ROM Properties Page configuration
Name[es]=Configuración de ROM Properties Page
Name[fr]=Configuration de ROM Properties Page
Name[it]=Configurazione di ROM Properties Page
Name[ja]=ROM Properties コンフィグレーション
Name[pt]=Configuração de ROM Properties
Name[pt_BR]=Configuração de ROM Properties
Name[ru]=Конфигурация ром свойств страница
Name[uk]=Конфігурації ПЗП властивостей сторінка
GenericName=rp-config
Comment=ROM Properties Page configuration program
