# Filetypes.
*~
*.o
*.a
*.so
.directory
*.kate-swp

# Build directories.
/build*

# KDevelop project files.
*.kdev4

# CMake temproary files.
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
git_version.h
