# AppVeyor configuration file.
version: '2.2.1.{build}'

# Build worker image (VM template)
image:
  - Visual Studio 2015
  - Ubuntu
configuration:
  - Debug
  - Release
platform:
  - x86
  - x64

# TODO: Re-add MinGW-w64 compiler for Windows builds.

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

# Don't build if source files aren't modified.
only_commits:
  files:
    - appveyor.yml
    - '**/CMakeLists.txt'
    - '**/*.cmd'
    - '**/*.sh'
    - extlib/**/*
    - src/**/*

# Ignore the l10n_master branch from Crowdin.
branches:
  except:
    - l10n_master

# Run CMake with optional features turned off initially.
before_build:
  - cmd: cd %APPVEYOR_BUILD_FOLDER%
  - cmd: appveyor.cmd OFF
  - sh: cd ${APPVEYOR_BUILD_FOLDER}
  - sh: sudo ./appveyor-dpkg.sh
  - sh: ./appveyor.sh OFF

# Build once with optional features turned off,
# then build again with optional features turned on.
build_script:
  - cmd: cd %APPVEYOR_BUILD_FOLDER%\build
  - cmd: cmake --build . --config %CONFIGURATION%
  - cmd: cd ..
  - cmd: appveyor.cmd ON
  - cmd: cd %APPVEYOR_BUILD_FOLDER%\build
  - cmd: cmake --build . --config %CONFIGURATION%
  - sh: cd ${APPVEYOR_BUILD_FOLDER}/build
  - sh: cmake --build . --config ${CONFIGURATION}
  - sh: cd ..
  - sh: ./appveyor.sh ON
  - sh: cd ${APPVEYOR_BUILD_FOLDER}/build
  - sh: cmake --build . --config ${CONFIGURATION}

test_script:
  - cmd: cd %APPVEYOR_BUILD_FOLDER%\build
  - cmd: ctest -V -C %CONFIGURATION%
  - sh: mkdir -p ~/.config/rom-properties
  - sh: cp "${APPVEYOR_BUILD_FOLDER}/build/bin/amiibo-data.bin" ~/.config/rom-properties/
  - sh: cd ${APPVEYOR_BUILD_FOLDER}/build
  - sh: LD_LIBRARY_PATH=${APPVEYOR_BUILD_FOLDER}/build/lib ctest -V -C ${CONFIGURATION}

after_test:
  - cmd: cd %APPVEYOR_BUILD_FOLDER%\build
  - cmd: ..\appveyor-artifacts.cmd
