/***************************************************************************
 * ROM Properties Page shell extension. (Win32)                            *
 * resource.rc: Win32 resource script.                                     *
 *                                                                         *
 * Copyright (c) 2016-2017 by David Korth.                                 *
 *                                                                         *
 * This program is free software; you can redistribute it and/or modify it *
 * under the terms of the GNU General Public License as published by the   *
 * Free Software Foundation; either version 2 of the License, or (at your  *
 * option) any later version.                                              *
 *                                                                         *
 * This program is distributed in the hope that it will be useful, but     *
 * WITHOUT ANY WARRANTY; without even the implied warranty of              *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           *
 * GNU General Public License for more details.                            *
 *                                                                         *
 * You should have received a copy of the GNU General Public License along *
 * with this program; if not, write to the Free Software Foundation, Inc., *
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.           *
 ***************************************************************************/

// Common rom-properties resource header.
#include "resource.common.inc.h"

// Windows SDK.
#include <wingdi.h>
#include <prsht.h>
#include <commctrl.h>
#include <richedit.h>

// rom-properties-win32 resources.
#include "resource.h"

/** Manifest. **/
ISOLATIONAWARE_MANIFEST_RESOURCE_ID	RT_MANIFEST	"rom-properties.dll.manifest"

/** Icons. **/
IDI_KEY_VALID	ICON	"res\\dialog-ok-apply.ico"

// TODO: The git version gets cut off on Windows 7, since it uses
// a ListView instead of separate ListBox and Edit controls like
// on Windows XP.

/** Application version. **/
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
VS_VERSION_INFO VERSIONINFO
	FILEVERSION RP_VERSION_WIN32
	PRODUCTVERSION RP_VERSION_WIN32
	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
	FILEFLAGS RP_VS_FILEFLAGS
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		/* English (US), Unicode */
		BLOCK "040904B0"
		BEGIN
			//VALUE "Comments", "\0"
			//VALUE "CompanyName", "\0"
			VALUE "FileDescription", "ROM Properties Page shell extension\0"
			VALUE "FileVersion", "rom-properties " Win32_RC_FileVersion "\0"
			VALUE "InternalName", "rom-properties\0"
			VALUE "LegalCopyright", "Copyright (c) 2016-2017 by David Korth.\0"
			//VALUE "LegalTrademarks", "\0"
			//VALUE "OriginalFilename", "\0"
			//VALUE "PrivateBuild", "\0"
			VALUE "ProductName", "ROM Properties Page shell extension\0"
			VALUE "ProductVersion", "rom-properties " Win32_RC_FileVersion "\0"
			//VALUE "SpecialBuild", "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

/** Dialogs. **/

/**
 * Generic property sheet.
 * FIXME: PROP_MED_CYDLG (215) is too small on Win7.
 * 215 vertical DLUs = 349px
 * Property sheet is ~404px, which is 249 DLUs.
 */
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PROPERTY_SHEET DIALOGEX 0, 0, PROP_MED_CXDLG, 249
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
END

/**
 * Subtab child dialog.
 * The size listed here is not used; SetWindowPos() is called
 * after creating the dialog.
 */
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_SUBTAB_CHILD_DIALOG DIALOGEX 0, 0, 16, 16
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
END

/**
 * Configuration: Image type priorities.
 */
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_CONFIG_IMAGETYPES DIALOGEX 0, 0, 365, 240
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_CONTROLPARENT
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0
BEGIN
    LTEXT           "Select the image types you would like to use for each system as its thumbnail image.\nInternal images are contained within the ROM file.\nExternal images are downloaded from an external image database.", IDC_IMAGETYPES_DESC1, 7, 7, 349, 30, SS_LEFT, WS_EX_LEFT
    LTEXT           "1 = highest priority; 2 = second highest priority; No = ignore\nFIXME: Generate the grid programmatically to avoid spacing issues?", IDC_IMAGETYPES_DESC2, 7, 37, 349, 8, SS_LEFT, WS_EX_LEFT
    CONTROL         "GameCube, Wii, Wii U, Nintendo DS, and Nintendo 3DS external images\nare provided by <a href=""http://www.gametdb.com/"">GameTDB</a>.\namiibo images are provided by <a href=""http://amiibo.life/"">amiibo.life</a>, the Unofficial amiibo Database.", IDC_IMAGETYPES_CREDITS, "SysLink", 0x50010000, 7, 209, 349, 24, 0x00000000
END

/**
 * Configuration: Download settings.
 */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CONFIG_DOWNLOADS DIALOGEX 0, 0, 365, 240
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
    AUTOCHECKBOX    "Enable external image downloads.", IDC_EXTIMGDL, 7, 7, 349, 8, 0, WS_EX_TRANSPARENT
    AUTOCHECKBOX    "Always use the internal icon (if present) for small sizes.", IDC_INTICONSMALL, 7, 21, 349, 8, 0, WS_EX_TRANSPARENT
    AUTOCHECKBOX    "Download high-resolution scans if viewing large thumbnails.\nThis may increase bandwidth usage.", IDC_HIGHRESDL, 7, 35, 349, 16, BS_MULTILINE, WS_EX_TRANSPARENT
END

/**
 * Configuration: Thumbnail cache. (Windows Vista and later)
 */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CONFIG_CACHE DIALOGEX 0, 0, 365, 240
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
    LTEXT           "If any image type settings were changed, you will need to clear the system thumbnail cache.", IDC_STATIC, 7, 7, 349, 8, SS_LEFT, WS_EX_TRANSPARENT
    PUSHBUTTON      "Clear the System Thumbnail Cache", IDC_CACHE_CLEAR_SYS_THUMBS, 7, 20, 349, 28, 0, WS_EX_LEFT
    LTEXT           "ROM Properties Page maintains its own download cache for external images. Clearing this cache will force external images to be redownloaded.", IDC_STATIC, 7, 55, 349, 17, SS_LEFT, WS_EX_TRANSPARENT
    PUSHBUTTON      "Clear the ROM Properties Page Download Cache", IDC_CACHE_CLEAR_RP_DL, 7, 75, 349, 28, 0, WS_EX_LEFT
    LTEXT           "Clearing the cache...", IDC_CACHE_STATUS, 7, 176, 349, 9, NOT WS_VISIBLE | SS_LEFT, WS_EX_LEFT
    CONTROL         "", IDC_CACHE_PROGRESS, PROGRESS_CLASS, NOT WS_VISIBLE, 7, 187, 349, 16, WS_EX_LEFT
END

/**
 * Configuration: Thumbnail cache. (Windows XP and earlier)
 */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CONFIG_CACHE_XP DIALOGEX 0, 0, 365, 240
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
    LTEXT           "If any image type settings were changed, you will need to clear the thumbnail cache files.\nThis version of Windows does not have a centralized thumbnail database, so it may take a while for all Thumbs.db files to be located and deleted.", IDC_STATIC, 7, 7, 349, 25, SS_LEFT, WS_EX_TRANSPARENT
    AUTORADIOBUTTON "Find all Thumbs.db files on the specified drive(s):", IDC_CACHE_XP_FIND_DRIVES, 7, 35, 168, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON "Specify a path", IDC_CACHE_XP_FIND_PATH, 180, 35, 61, 8, 0, WS_EX_LEFT
    CONTROL         "", IDC_CACHE_XP_DRIVES, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_LIST | LVS_SINGLESEL, 7, 46, 349, 40, WS_EX_LEFT | WS_EX_CLIENTEDGE
    EDITTEXT        IDC_CACHE_XP_PATH, 7, 46, 295, 14, NOT WS_VISIBLE | ES_AUTOHSCROLL, WS_EX_LEFT
    PUSHBUTTON      "Browse...", IDC_CACHE_XP_BROWSE, 307, 45, 50, 15, NOT WS_VISIBLE, WS_EX_LEFT
    PUSHBUTTON      "Find and Remove Thumbs.db Files", IDC_CACHE_XP_CLEAR_SYS_THUMBS, 7, 90, 350, 20, WS_DISABLED | BS_MULTILINE, WS_EX_LEFT
    LTEXT           "ROM Properties Page maintains its own download cache for external images. Clearing this cache will force external images to be redownloaded.", IDC_STATIC, 7, 125, 265, 20, SS_LEFT, WS_EX_TRANSPARENT
    PUSHBUTTON      "Clear", IDC_CACHE_CLEAR_RP_DL, 275, 127, 82, 15, 0, WS_EX_LEFT
    LTEXT           "Clearing the cache...", IDC_CACHE_STATUS, 7, 176, 349, 9, NOT WS_VISIBLE | SS_LEFT, WS_EX_LEFT
    CONTROL         "", IDC_CACHE_PROGRESS, PROGRESS_CLASS, NOT WS_VISIBLE, 7, 187, 349, 16, WS_EX_LEFT
END

#ifdef ENABLE_DECRYPTION
/**
 * Configuration: Key Manager.
 */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CONFIG_KEYMANAGER DIALOGEX 0, 0, 365, 240
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
    CONTROL         "", IDC_KEYMANAGER_LIST, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT | LVS_OWNERDATA | LVS_SINGLESEL, 7, 7, 349, 208, WS_EX_LEFT | WS_EX_CLIENTEDGE
    // EDIT control is created as a child control of the ListView.
    //EDITTEXT        IDC_KEYMANAGER_EDIT, 0, 0, 0, 0, NOT WS_VISIBLE | ES_AUTOHSCROLL | ES_WANTRETURN, WS_EX_LEFT
    PUSHBUTTON      "Import", IDC_KEYMANAGER_IMPORT, 7, 219, 50, 14, 0, WS_EX_LEFT
END

/**
 * Configuration: Key Manager. ("Import" popup menu.)
 */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDR_KEYMANAGER_IMPORT MENU
BEGIN
    POPUP "Import"
    BEGIN
        MENUITEM "Wii keys.bin", IDM_KEYMANAGER_IMPORT_WII_KEYS_BIN
        MENUITEM "Wii U otp.bin", IDM_KEYMANAGER_IMPORT_WIIU_OTP_BIN
        MENUITEM "3DS boot9.bin", IDM_KEYMANAGER_IMPORT_3DS_BOOT9_BIN
        MENUITEM "3DS aeskeydb.bin", IDM_KEYMANAGER_IMPORT_3DS_AESKEYDB
    END
END
#endif /* ENABLE_DECRYPTION */

/**
 * Configuration: About.
 */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CONFIG_ABOUT DIALOGEX 0, 0, 365, 240
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
    CONTROL         "", IDC_ABOUT_ICON, WC_STATIC, SS_ICON, 7, 7, 16, 16, NOT WS_VISIBLE | WS_EX_LEFT
    CTEXT           "ROM Properties Page", IDC_ABOUT_LINE1, 7, 7, 350, 9, SS_CENTER, WS_EX_LEFT
    CTEXT           "Shell Extension", IDC_ABOUT_LINE2, 7, 16, 350, 9, SS_CENTER, WS_EX_LEFT
    CTEXT           "", IDC_ABOUT_VERSION, 7, 28, 350, 32, SS_CENTER, WS_EX_LEFT
    CONTROL         "", IDC_ABOUT_TABCONTROL, WC_TABCONTROL, 0, 7, 63, 350, 168, WS_EX_LEFT
    CONTROL         "", IDC_ABOUT_RICHEDIT, RICHEDIT_CLASS, WS_TABSTOP | WS_BORDER | ES_MULTILINE | ES_READONLY | WS_VSCROLL | ES_AUTOVSCROLL, 14, 84, 336, 140, WS_EX_LEFT | WS_EX_NOPARENTNOTIFY | WS_EX_TRANSPARENT
END
