[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=ROM Properties Page
ServiceTypes=KPropertiesDialog/Plugin,ThumbCreator

# KDE service settings.
X-KDE-Library=rom-properties-kde4
X-KDE-ServiceTypes=KPropertiesDialog/Plugin,ThumbCreator
X-KDE-Protocol=file
X-KDE-Protocols=file,desktop

# NOTE: all/all doesn't work; use application/octet-stream.
# TODO: Remove application/octet-stream and only use more-specific types?
# NOTE: MS CAB is listed for Nintendo Badge Arcade .cab files.
# NOTE: model/x.stl-binary and image/x-3ds are listed for Nintendo 3DS files.
# TODO: More MIME types for Fedora.
MimeType=application/octet-stream;application/x-genesis-rom;application/x-gamecube-rom;application/x-wii-rom;application/x-nintendo-ds-rom;application/x-nintendo-dsi-rom;application/x-dc-rom;application/x-dreamcast-rom;application/x-dreamcast-vms;application/x-dreamcast-vms-info;application/x-dreamcast-dci;application/x-gameboy-rom;application/x-gba-rom;application/x-sms-rom;image/x-dds;image/vnd.ms-dds;application/vnd.ms-cab-compressed;image/ktx;image/vnd.valve.source.texture;model/x.stl-binary;image/x-3ds;application/x-mach-executable;application/x-mach-sharedlib;application/x-mach-core;application/x-mach-bundle;application/x-neo-geo-pocket-rom;application/x-neo-geo-pocket-color-rom;application/x-xbox360-xdbf;application/x-xbox360-executable;audio/x-brstm;audio/x-bcstm;audio/x-bfstm;audio/x-bcwav;image/x-xbox-xpr;application/x-iso9660-image;application/x-cd-image;application/x-xbox-executable;inode/blockdevice;application/x-xbox360-stfs;

# ThumbCreator settings.
CacheThumbnail=true
IgnoreMaximumSize=true
