/***************************************************************************
 * ROM Properties Page shell extension installer. (svrplus)                *
 * resource.rc: Win32 resource script. (en_US)                             *
 *                                                                         *
 * Copyright (c) 2017-2022 by Egor.                                        *
 * Copyright (c) 2017-2023 by David Korth.                                 *
 * SPDX-License-Identifier: GPL-2.0-or-later                               *
 ***************************************************************************/

// UTF-8 encoding
#pragma code_page(65001)

// Common rom-properties resource header
#include "resource.common.inc.h"

// svrplus resources
#include "resource.h"

/** Dialogs **/
LANGUAGE LANG_ROMANIAN, SUBLANG_ROMANIAN_ROMANIA
IDD_SVRPLUS DIALOGEX 0, 0, 273, 157
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Instalare ROM Properties"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "", IDC_STATIC_DESC, 7, 7, 260, 81, SS_LEFT, WS_EX_LEFT | WS_EX_TRANSPARENT
    LTEXT           "", IDC_STATIC_STATUS1, 7, 92, 259, 9, NOT WS_VISIBLE | SS_LEFT, WS_EX_LEFT | WS_EX_TRANSPARENT
    CONTROL         "", IDC_STATIC_STATUS2, "SysLink", 0x50010000, 7, 102, 259, 33, WS_EX_LEFT | WS_EX_TRANSPARENT
    PUSHBUTTON      "Dezinstalează", IDC_BUTTON_UNINSTALL, 139, 136, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "Instaleaza", IDC_BUTTON_INSTALL, 83, 136, 50, 14, 0, WS_EX_LEFT
END

/** String Table **/
// NOTE: String table does NOT NULL-terminate strings by default.
// All strings listed here must have a "\0" at the end of the string.
// Toolchain-specific notes:
// - windres: No option to automatically NULL-terminate, but will
//            accept the "\0" here.
// - MSVC rc: Ignores "\0", but has a "/n" option to automatically
//            NULL-terminate strings.
LANGUAGE LANG_ROMANIAN, SUBLANG_ROMANIAN_ROMANIA
STRINGTABLE
BEGIN
	IDS_MAIN_DESCRIPTION, L"Această instalare va înregistra ROM Properties Page DLL cu sistemul, ceea ce va oferi funcționalitate suplimentară pentru fișierele acceptate în Windows Explorer.\n\nReţineţi că locaţiile DLL sunt bine codificate în registru. Dacă mutaţi DLL-urile, va trebui să reporniţi instalatorul. În plus, DLL-urile vor fi de obicei blocate de Explorer, astfel încât să trebuiască să folosești acest program pentru a dezinstala mai întâi DLL-urile și apoi să repornești Explorer pentru a muta DLL-urile.\n\nDezinstalarea va anula înregistrarea proprietăților ROM DLL, ceea ce va dezactiva funcțiile suplimentare oferite de DLL pentru fișierele ROM suportate.\0"

	IDS_ISR_FATAL_ERROR, L"A apărut o eroare fatală.\0"
	IDS_ISR_PROCESS_STILL_ACTIVE, L"Procesul REGSVR32 nu s-a încheiat niciodată.\0"
	IDS_ISR_REGSVR32_FAIL_ARGS, L"REGSVR32 a eșuat: Argument nevalid.\0"
	IDS_ISR_REGSVR32_FAIL_OLE, L"REGSVR32 a eșuat: OleInitialize() a eșuat.\0"
	IDS_DLLS_REGISTERING, L"Înregistrare DLL-urilor...\0"
	IDS_DLL_REGISTERING, L"Înregistrarea DLL-urilor...\0"
	IDS_DLLS_UNREGISTERING, L"Deînregistrarea DLL-urilor...\0"
	IDS_DLL_UNREGISTERING, L"Deînregistrarea DLL-urilor...\0"
	IDS_DLLS_REG_OK, L"DLL-uri înregistrate cu succes.\0"
	IDS_DLL_REG_OK, L"DLL-uri înregistrate cu succes.\0"
	IDS_DLLS_UNREG_OK, L"DLL-uri înregistrate cu succes.\0"
	IDS_DLL_UNREG_OK, L"DLL-uri deînregistrate cu succes.\0"
	IDS_DLLS_REG_ERROR, L"A apărut o eroare la înregistrarea DLL-urilor:\0"
	IDS_DLL_REG_ERROR, L"S-a produs o eroare la înregistrarea DLL-urilor:\0"
	IDS_DLLS_UNREG_ERROR, L"A apărut o eroare la deînregistrarea DLL-urilor:\0"
	IDS_DLL_UNREG_ERROR, L"A apărut o eroare la deînregistrarea DLL-urilor:\0"
	IDS_ERROR_STARTING_WORKER_THREAD, L"A apărut o eroare la pornirea temei de execuție.\0"
	IDS_ERROR_COULD_NOT_OPEN_URL_TITLE, L"URL-ul nu a putut fi deschis\0"

	IDSF_MSVCRT_DOWNLOAD_AT, L"Puteți descărca MSVC 2015-%u Runtime la:\0"
	IDSF_MSVCRT_MISSING_ONE, L"The %s MSVC 2015-%u runtime nu este instalat.\0"
	IDSF_MSVCRT_MISSING_MULTIPLE, L"The %s MSVC 2015-%u runtime nu este instalat.\0"

	IDSF_ISR_INVALID_ARCH, L"Arhitectura sistemului invalidă: %d\0"
	IDSF_ISR_FILE_NOT_FOUND, L"%s\\%s lipsește.\0"
	IDSF_ISR_CREATEPROCESS_FAILED, L"REGSVR32.exe nu a putut fi pornit. (Err:%u)\0"
	IDSF_ISR_REGSVR32_FAIL_LOAD, L"REGSVR32 a eșuat: %s\\%s nu este un DLL.\0"
	IDSF_ISR_REGSVR32_FAIL_ENTRY, L"REGSVR32 nu a reușit: %s\\%s lipsește %s().\0"
	IDSF_ISR_REGSVR32_FAIL_REG, L"REGSVR32 nu a reușit: %s() a returnat o eroare.\0"
	IDSF_ISR_REGSVR32_UNKNOWN_EXIT_CODE, L"REGSVR32 a esuat: Cod de iesire necunoscut: 0x%08X\0"
	IDSF_ERROR_COULD_NOT_OPEN_URL, L"Adresa URL nu a putut fi deschisă.\n\ncodul de eroare Win32: %d\0"
END
