/***************************************************************************
 * ROM Properties Page shell extension installer. (svrplus)                *
 * resource.rc: Win32 resource script. (en_US)                             *
 *                                                                         *
 * Copyright (c) 2017-2022 by Egor.                                        *
 * Copyright (c) 2017-2023 by David Korth.                                 *
 * SPDX-License-Identifier: GPL-2.0-or-later                               *
 ***************************************************************************/

// UTF-8 encoding
#pragma code_page(65001)

// Common rom-properties resource header
#include "resource.common.inc.h"

// svrplus resources
#include "resource.h"

/** Dialogs **/
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
IDD_SVRPLUS DIALOGEX 0, 0, 273, 157
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Installer für die ROM-Properties Seite"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "", IDC_STATIC_DESC, 7, 7, 260, 81, SS_LEFT, WS_EX_LEFT | WS_EX_TRANSPARENT
    LTEXT           "", IDC_STATIC_STATUS1, 7, 92, 259, 9, NOT WS_VISIBLE | SS_LEFT, WS_EX_LEFT | WS_EX_TRANSPARENT
    CONTROL         "", IDC_STATIC_STATUS2, "SysLink", 0x50010000, 7, 102, 259, 33, WS_EX_LEFT | WS_EX_TRANSPARENT
    PUSHBUTTON      "Deinstallieren", IDC_BUTTON_UNINSTALL, 139, 136, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "Installieren", IDC_BUTTON_INSTALL, 83, 136, 50, 14, 0, WS_EX_LEFT
END

/** String Table **/
// NOTE: String table does NOT NULL-terminate strings by default.
// All strings listed here must have a "\0" at the end of the string.
// Toolchain-specific notes:
// - windres: No option to automatically NULL-terminate, but will
//            accept the "\0" here.
// - MSVC rc: Ignores "\0", but has a "/n" option to automatically
//            NULL-terminate strings.
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
STRINGTABLE
BEGIN
	IDS_MAIN_DESCRIPTION, L"Dieser Installer registriert die ROM-Properties-Page DLL mit dem System, die zusätzliche Funktionalität für unterstützte Dateien im Windows Explorer bietet.\n\nBeachten Sie, dass die DLL-Standorte in der Registry hartkodiert sind. Wenn Sie die DLLs verschieben, müssen Sie diesen Installer neu starten. Zusätzlich werden die DLLs normalerweise von dem Explorer gesperrt, deswegen müssen Sie dieses Programm verwenden, um zuerst die DLLs zu deinstallieren und dann den Explorer neu zu starten, um die DLLs zu verschieben.\n\nDeinstallation wird die ROM-Properties DLL entfernen, die die zusätzliche Funktionalität der DLL für unterstützte ROM-Dateien deaktiviert.\0"

	IDS_ISR_FATAL_ERROR, L"Ein unbekannter schwerer Fehler ist aufgetreten.\0"
	IDS_ISR_PROCESS_STILL_ACTIVE, L"Der REGSVR32-Prozess wurde nie abgeschlossen.\0"
	IDS_ISR_REGSVR32_FAIL_ARGS, L"REGSVR32 ist fehlgeschlagen: Ungültiges Argument.\0"
	IDS_ISR_REGSVR32_FAIL_OLE, L"REGSVR32 ist fehlgeschlagen: OleInitialize() fehlgeschlagen.\0"
	IDS_DLLS_REGISTERING, L"DLLs werden registriert...\0"
	IDS_DLL_REGISTERING, L"DLL wird registriert...\0"
	IDS_DLLS_UNREGISTERING, L"DLLs werden entfernt...\0"
	IDS_DLL_UNREGISTERING, L"DLL wird entfernt...\0"
	IDS_DLLS_REG_OK, L"DLLs erfolgreich registriert.\0"
	IDS_DLL_REG_OK, L"DLL erfolgreich registriert.\0"
	IDS_DLLS_UNREG_OK, L"DLLs wurden erfolgreich entfernt.\0"
	IDS_DLL_UNREG_OK, L"DLL wurden erfolgreich entfernt.\0"
	IDS_DLLS_REG_ERROR, L"Ein Fehler ist bei der Registrierung der DLLs aufgetreten:\0"
	IDS_DLL_REG_ERROR, L"Ein Fehler ist bei der Registrierung der DLL aufgetreten:\0"
	IDS_DLLS_UNREG_ERROR, L"Es ist ein Fehler beim Entfernen der DLLs aufgetreten:\0"
	IDS_DLL_UNREG_ERROR, L"Es ist ein Fehler beim Entfernen der DLL aufgetreten:\0"
	IDS_ERROR_STARTING_WORKER_THREAD, L"Ein Fehler trat beim Starten des Arbeiter-Threads auf.\0"
	IDS_ERROR_COULD_NOT_OPEN_URL_TITLE, L"Konnte URL nicht öffnen\0"

	IDSF_MSVCRT_DOWNLOAD_AT, L"Sie können die MSVC 2015-%u Laufzeit hier herunterladen:\0"
	IDSF_MSVCRT_MISSING_ONE, L"Die %s MSVC 2015-%u Laufzeit ist nicht installiert.\0"
	IDSF_MSVCRT_MISSING_MULTIPLE, L"Die %s MSVC 2015-%u Laufzeiten sind nicht installiert.\0"

	IDSF_ISR_INVALID_ARCH, L"Ungültige Systemarchitektur: %d\0"
	IDSF_ISR_FILE_NOT_FOUND, L"%s\\%s fehlt.\0"
	IDSF_ISR_CREATEPROCESS_FAILED, L"Konnte REGSVR32.exe nicht starten. (Fehler: %u)\0"
	IDSF_ISR_REGSVR32_FAIL_LOAD, L"REGSVR32 ist fehlgeschlagen: %s\\%s ist keine gültige DLL.\0"
	IDSF_ISR_REGSVR32_FAIL_ENTRY, L"REGSVR32 ist fehlgeschlagen: %s\\%s fehlt %s().\0"
	IDSF_ISR_REGSVR32_FAIL_REG, L"REGSVR32 ist fehlgeschlagen: %s() hat einen Fehler zurückgegeben.\0"
	IDSF_ISR_REGSVR32_UNKNOWN_EXIT_CODE, L"REGSVR32 ist fehlgeschlagen: Unbekannter Exit-Code: 0x%08X\0"
	IDSF_ERROR_COULD_NOT_OPEN_URL, L"Die URL konnte nicht geöffnet werden.\n\nWin32 Fehlercode: %d\0"
END
