/***************************************************************************
 * ROM Properties Page shell extension installer. (svrplus)                *
 * resource.rc: Win32 resource script.                                     *
 *                                                                         *
 * Copyright (c) 2017 by Egor.                                             *
 *                                                                         *
 * This program is free software; you can redistribute it and/or modify it *
 * under the terms of the GNU General Public License as published by the   *
 * Free Software Foundation; either version 2 of the License, or (at your  *
 * option) any later version.                                              *
 *                                                                         *
 * This program is distributed in the hope that it will be useful, but     *
 * WITHOUT ANY WARRANTY; without even the implied warranty of              *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           *
 * GNU General Public License for more details.                            *
 *                                                                         *
 * You should have received a copy of the GNU General Public License along *
 * with this program; if not, write to the Free Software Foundation, Inc., *
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.           *
 ***************************************************************************/

// Common rom-properties resource header.
#include "resource.common.inc.h"

// svrplus resources.
#include "resource.h"

/** Manifest. **/
CREATEPROCESS_MANIFEST_RESOURCE_ID	RT_MANIFEST	"svrplus.exe.manifest"

// TODO: The git version gets cut off on Windows 7, since it uses
// a ListView instead of separate ListBox and Edit controls like
// on Windows XP.

/** Application version. **/
VS_VERSION_INFO VERSIONINFO
	FILEVERSION RP_VERSION_WIN32
	PRODUCTVERSION RP_VERSION_WIN32
	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
	FILEFLAGS RP_VS_FILEFLAGS
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_APP
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		/* English (US), Unicode */
		BLOCK "040904B0"
		BEGIN
			//VALUE "Comments", "\0"
			//VALUE "CompanyName", "\0"
			VALUE "FileDescription", "ROM Properties Page shell extension installer\0"
			VALUE "FileVersion", "svrplus " Win32_RC_FileVersion "\0"
			VALUE "InternalName", "svrplus\0"
			VALUE "LegalCopyright", "Copyright (c) 2017 by Egor.\0"
			//VALUE "LegalTrademarks", "\0"
			//VALUE "OriginalFilename", "\0"
			//VALUE "PrivateBuild", "\0"
			VALUE "ProductName", "ROM Properties Page shell extension installer\0"
			VALUE "ProductVersion", "svrplus " Win32_RC_FileVersion "\0"
			//VALUE "SpecialBuild", "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

/** Icons. **/
IDI_SVRPLUS ICON "icon.ico"

/** Dialogs. **/
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_SVRPLUS DIALOGEX 0, 0, 273, 157
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "ROM Properties Page Installer"
FONT 8, "MS Shell Dlg"
{
    LTEXT           "", IDC_STATIC_DESC, 7, 7, 260, 81, SS_LEFT, WS_EX_LEFT | WS_EX_TRANSPARENT
    LTEXT           "", IDC_STATIC_STATUS1, 7, 92, 259, 9, NOT WS_VISIBLE | SS_LEFT, WS_EX_LEFT | WS_EX_TRANSPARENT
    CONTROL         "", IDC_STATIC_STATUS2, "SysLink", 0x50010000, 7, 102, 259, 33, WS_EX_LEFT | WS_EX_TRANSPARENT
    PUSHBUTTON      "Uninstall", IDC_BUTTON_UNINSTALL, 139, 136, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "Install", IDC_BUTTON_INSTALL, 83, 136, 50, 14, 0, WS_EX_LEFT
}
