/***************************************************************************
 * ROM Properties Page shell extension installer. (svrplus)                *
 * resource.rc: Win32 resource script. (Common resources)                  *
 *                                                                         *
 * Copyright (c) 2017-2022 by Egor.                                        *
 * Copyright (c) 2017-2023 by David Korth.                                 *
 * SPDX-License-Identifier: GPL-2.0-or-later                               *
 ***************************************************************************/

// UTF-8 encoding
#pragma code_page(65001)

// Common rom-properties resource header
#include "resource.common.inc.h"

/** Manifest **/
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID	RT_MANIFEST	"svrplus.exe.manifest"
