[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=ROM Properties Page
ServiceTypes=KPropertiesDialog/Plugin,ThumbCreator

# KDE service settings.
X-KDE-Library=rom-properties-kde5
X-KDE-ServiceTypes=KPropertiesDialog/Plugin,ThumbCreator
X-KDE-Protocol=file

# NOTE: all/all doesn't work; use application/octet-stream.
# TODO: Add actual MIME types.
MimeType=application/octet-stream;

# ThumbCreator settings.
CacheThumbnail=false
IgnoreMaximumSize=true
