/***************************************************************************
 * ROM Properties Page shell extension. (Win32)                            *
 * resource.rc: Win32 resource script. (Common resources)                  *
 *                                                                         *
 * Copyright (c) 2016-2023 by David Korth.                                 *
 * SPDX-License-Identifier: GPL-2.0-or-later                               *
 ***************************************************************************/

// UTF-8 encoding
#pragma code_page(65001)

#include "resource.common.inc.h"
#include "resource.h"

#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#include <wingdi.h>
#include <commctrl.h>
#include <prsht.h>
#undef APSTUDIO_HIDDEN_SYMBOLS

/** Manifest **/
ISOLATIONAWARE_MANIFEST_RESOURCE_ID	RT_MANIFEST	"res/rom-properties.dll.manifest"

/** Icons **/
IDI_KEY_VALID	ICON	"res/dialog-ok-apply.ico"

/** PNG images **/
IDP_FLAGS_16x16	RT_PNG	"../../res/flags/flags-16x16.png"
IDP_FLAGS_24x24	RT_PNG	"../../res/flags/flags-24x24.png"
IDP_FLAGS_32x32	RT_PNG	"../../res/flags/flags-32x32.png"

IDP_ACH_16x16	RT_PNG	"../../res/ach/ach-16x16.png"
IDP_ACH_24x24	RT_PNG	"../../res/ach/ach-24x24.png"
IDP_ACH_32x32	RT_PNG	"../../res/ach/ach-32x32.png"
IDP_ACH_64x64	RT_PNG	"../../res/ach/ach-64x64.png"

IDP_ACH_GRAY_16x16	RT_PNG	"../../res/ach/ach-gray-16x16.png"
IDP_ACH_GRAY_24x24	RT_PNG	"../../res/ach/ach-gray-24x24.png"
IDP_ACH_GRAY_32x32	RT_PNG	"../../res/ach/ach-gray-32x32.png"
IDP_ACH_GRAY_64x64	RT_PNG	"../../res/ach/ach-gray-64x64.png"

// TODO: The git version gets cut off on Windows 7, since it uses
// a ListView instead of separate ListBox and Edit controls like
// on Windows XP.

/** Application version **/
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
VS_VERSION_INFO VERSIONINFO
	FILEVERSION RP_VERSION_WIN32
	PRODUCTVERSION RP_VERSION_WIN32
	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
	FILEFLAGS RP_VS_FILEFLAGS
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		/* English (US), Unicode */
		BLOCK "040904B0"
		BEGIN
			//VALUE "Comments", "\0"
			//VALUE "CompanyName", "\0"
			VALUE "FileDescription", "ROM Properties Win32 UI frontend\0"
			VALUE "FileVersion", "rom-properties " Win32_RC_FileVersion "\0"
			VALUE "InternalName", "rom-properties\0"
			VALUE "LegalCopyright", "Copyright (c) 2016-2023 by David Korth.\0"
			//VALUE "LegalTrademarks", "\0"
			//VALUE "OriginalFilename", "\0"
			//VALUE "PrivateBuild", "\0"
			VALUE "ProductName", "ROM Properties Page shell extension\0"
			VALUE "ProductVersion", "rom-properties " Win32_RC_FileVersion "\0"
			//VALUE "SpecialBuild", "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

/** Generic dialogs **/

/**
 * Generic property sheet.
 * FIXME: PROP_MED_CYDLG (215) is too small on Win7.
 * 215 vertical DLUs = 349px
 * Property sheet is ~404px, which is 249 DLUs.
 */
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PROPERTY_SHEET DIALOGEX 0, 0, PROP_MED_CXDLG, 249
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
END

/**
 * Subtab child dialog.
 * The size listed here is not used; SetWindowPos() is called
 * after creating the dialog.
 */
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_SUBTAB_CHILD_DIALOG DIALOGEX 0, 0, 16, 16
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP | WS_CLIPCHILDREN | WS_VSCROLL
EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", FW_NORMAL, 0, 0
BEGIN
END

#ifdef ENABLE_DECRYPTION
/**
 * Configuration: Key Manager ("Import" popup menu)
 * NOTE: The popup menu's title isn't seen by the user.
 */
LANGUAGE LANG_NEUTRAL, LANG_NEUTRAL
IDR_KEYMANAGER_IMPORT MENU
BEGIN
    POPUP "Import"
    BEGIN
        MENUITEM "Wii keys.bin", IDM_KEYMANAGER_IMPORT_WII_KEYS_BIN
        MENUITEM "Wii U otp.bin", IDM_KEYMANAGER_IMPORT_WIIU_OTP_BIN
        MENUITEM "3DS boot9.bin", IDM_KEYMANAGER_IMPORT_3DS_BOOT9_BIN
        MENUITEM "3DS aeskeydb.bin", IDM_KEYMANAGER_IMPORT_3DS_AESKEYDB
    END
END
#endif /* ENABLE_DECRYPTION */

/**
 * XAttrView (TODO: Localize this)
 * FIXME: PROP_MED_CYDLG (215) is too small on Win7.
 * 215 vertical DLUs = 349px
 * Property sheet is ~404px, which is 249 DLUs.
 */
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_XATTRVIEW DIALOG 0, 0, PROP_MED_CXDLG, 249
STYLE DS_3DLOOK | DS_CONTROL | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW | WS_TABSTOP
CAPTION ""
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX        "MS-DOS Attributes", IDC_STATIC, 5, 7, 215, 35, 0, WS_EX_LEFT
    CHECKBOX        "Read-only", IDC_XATTRVIEW_DOS_READONLY, 14, 17, 49, 8, 0, WS_EX_LEFT
    CHECKBOX        "Hidden", IDC_XATTRVIEW_DOS_HIDDEN, 63, 17, 35, 8, 0, WS_EX_LEFT
    CHECKBOX        "Archive", IDC_XATTRVIEW_DOS_ARCHIVE, 105, 17, 35, 8, 0, WS_EX_LEFT
    CHECKBOX        "System", IDC_XATTRVIEW_DOS_SYSTEM, 147, 17, 42, 8, 0, WS_EX_LEFT
    CHECKBOX        "Compressed", IDC_XATTRVIEW_NTFS_COMPRESSED, 14, 28, 55, 8, 0, WS_EX_LEFT
    CHECKBOX        "Encrypted", IDC_XATTRVIEW_NTFS_ENCRYPTED, 70, 28, 48, 8, 0, WS_EX_LEFT
    GROUPBOX        "Alternate Data Streams", IDC_XATTRVIEW_GRPADS, 7, 49, 213, 196, 0, WS_EX_LEFT
    CONTROL         "", IDC_XATTRVIEW_LISTVIEW_ADS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SINGLESEL | LVS_REPORT, 14, 60, 200, 179, WS_EX_LEFT
END
