Source: rom-properties
Section: games
Priority: optional
Maintainer: David Korth <gerbilsoft@gerbilsoft.com>
Build-Depends:
 debhelper (>= 9),
 cmake (>= 2.8.12),
 dpkg-dev (>= 1.17.17),
 extra-cmake-modules (>= 0.0.11),
 lsb-release,
 zlib1g-dev,
 libpng-dev,
 libcurl4-openssl-dev | libcurl4-gnutls-dev | libcurl4-nss-dev | libcurl-dev,
 libjpeg-dev,
 nettle-dev,
 libtinyxml2-dev,
 libseccomp-dev,
 qtbase5-dev,
 qttools5-dev-tools,
 libkf5kio-dev | kio-dev,
 libkf5widgetsaddons-dev,
 libkf5filemetadata-dev,
 libkf5crash-dev,
 libglib2.0-dev,
 libgdk-pixbuf2.0-dev,
 libgtk-3-dev,
 libcairo2-dev,
 libgtk-4-dev,
 libnautilus-extension-dev,
 libcaja-extension-dev,
 libnemo-extension-dev,
 gettext,
 libzstd-dev,
 liblz4-dev,
 liblzo2-dev,
 libgsound-dev,
 qt6-base-dev,
 qt6-tools-dev-tools,
 libkf6kio-dev,
 libkf6widgetsaddons-dev,
 libkf6filemetadata-dev,
 libkf6crash-dev
Standards-Version: 3.9.8
Homepage: https://github.com/GerbilSoft/rom-properties
Vcs-Git: https://github.com/GerbilSoft/rom-properties
Vcs-Browser: https://github.com/GerbilSoft/rom-properties

Package: rom-properties-all
Architecture: any
Depends: ${misc:Depends}, libromdata5, rom-properties-kf5, rom-properties-kf6, rom-properties-gtk3, rom-properties-gtk4, rom-properties-cli, rom-properties-tracker, rom-properties-utils, rom-properties-lang, rom-properties-thumbnailer-dbus
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This is a meta-package that installs all rom-properties packages.

Package: libromdata5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rom-properties-data
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the shared library containing common functionality
 used by all the UI frontends.

Package: rom-properties-kio-servicemenus
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libromdata5, rom-properties-utils
Conflicts: rom-properties-kf5 (<< 2.3)
Replaces: rom-properties-kf5 (<< 2.3)
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the KIO service menus for KF5 and KF6.

Package: rom-properties-kf5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libromdata5, rom-properties-utils, rom-properties-xdg, rom-properties-kio-servicemenus
Recommends: rom-properties-lang
Conflicts: rom-properties-kde5
Replaces: rom-properties-kde5
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the KDE Frameworks 5 version.

Package: rom-properties-kf6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libromdata5, rom-properties-utils, rom-properties-xdg, rom-properties-kio-servicemenus
Recommends: rom-properties-lang
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the KDE Frameworks 6 version.

Package: rom-properties-gtk3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libromdata5, rom-properties-utils, rom-properties-xdg, rom-properties-thumbnailer-dbus
Recommends: rom-properties-lang, rom-properties-tracker
Conflicts: rom-properties-gnome, rom-properties-mate, rom-properties-cinnamon, rom-properties-gtk3-common
Replaces: rom-properties-gnome, rom-properties-mate, rom-properties-cinnamon, rom-properties-gtk3-common
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the GTK+ 3.x version, which supports Nautilus
 (GNOME), Caja (MATE), Nemo (Cinnamon), and Thunar (XFCE).
 .
 The utils package is required for thumbnailing.
 .
 The thumbnailer-dbus package is required for thumbnailing on
 some XFCE versions.

Package: rom-properties-gtk4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libromdata5, rom-properties-utils, rom-properties-xdg
Recommends: rom-properties-lang
Conflicts: rom-properties-gnome, rom-properties-mate, rom-properties-cinnamon, rom-properties-gtk3-common
Replaces: rom-properties-gnome, rom-properties-mate, rom-properties-cinnamon, rom-properties-gtk3-common
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the GTK4 version, which supports Nautilus
 (GNOME) version 43 and later.
 .
 The utils package is required for thumbnailing.

Package: rom-properties-cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libromdata5
Recommends: rom-properties-lang
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the command line version.

Package: rom-properties-tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libromdata5
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the Tracker metadata extractor module for
 GNOME desktops.

Package: rom-properties-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: rom-properties-lang
Conflicts: rom-properties-stub
Replaces: rom-properties-stub
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains helper executables for invoking the configuration
 UI, thumbnailing on some desktop environments, and downloading images
 from online databases.

Package: rom-properties-lang
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the language files for localization.

Package: rom-properties-thumbnailer-dbus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: rom-properties-lang
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the D-Bus Thumbnailer service, used by XFCE's
 tumblerd thumbnailing subsystem.

Package: rom-properties-xdg
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the MIME package for files supported by rom-properties
 that aren't currently listed in FreeDesktop.org's shared-mime-info database.

Package: rom-properties-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains data files used for various parsers, e.g. the
 Nintendo amiibo parser.
