Source: rom-properties
Section: games
Priority: optional
Maintainer: David Korth <gerbilsoft@gerbilsoft.com>
Build-Depends:
 debhelper (>= 9),
 cmake (>= 2.8.12),
 dpkg-dev (>= 1.17.17),
 extra-cmake-modules (>= 0.0.11),
 libcurl-dev,
 libpng-dev,
 libjpeg-dev,
 libqt4-dev,
 kdelibs5-dev,
 kio-dev,
 nettle-dev,
 qtbase5-dev,
 zlib1g-dev,
 libglib2.0-dev,
 libgtk2.0-dev,
 libthunarx-2-dev,
 libgtk-3-dev,
 libnautilus-extension-dev
Standards-Version: 3.9.8
Homepage: https://github.com/GerbilSoft/rom-properties
Vcs-Git: https://github.com/GerbilSoft/rom-properties
Vcs-Browser: https://github.com/GerbilSoft/rom-properties

Package: rom-properties-kde4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the KDE 4 version.

Package: rom-properties-kde5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the KDE 5 version.

Package: rom-properties-xfce
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the XFCE version.

Package: rom-properties-gnome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the Nautilus (GNOME 3, Unity) version.

Package: rom-properties-cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the command line version.
