Source: rom-properties
Section: games
Priority: optional
Maintainer: David Korth <gerbilsoft@gerbilsoft.com>
Build-Depends:
 debhelper (>= 9),
 cmake (>= 2.8.12),
 dpkg-dev (>= 1.17.17),
 extra-cmake-modules (>= 0.0.11),
 lsb-release,
 zlib1g-dev,
 libpng-dev,
 libcurl4-openssl-dev | libcurl4-gnutls-dev | libcurl4-nss-dev | libcurl-dev,
 libjpeg-dev,
 nettle-dev,
 libtinyxml2-dev,
 libqt4-dev,
 kdelibs5-dev,
 qtbase5-dev,
 qttools5-dev-tools,
 kio-dev,
 libglib2.0-dev,
 libgtk2.0-dev,
 libthunarx-2-dev,
 libgtk-3-dev,
 libnautilus-extension-dev,
 libbsd-dev,
 mesa-common-dev,
 gettext
Standards-Version: 3.9.8
Homepage: https://github.com/GerbilSoft/rom-properties
Vcs-Git: https://github.com/GerbilSoft/rom-properties
Vcs-Browser: https://github.com/GerbilSoft/rom-properties

Package: rom-properties-all
Architecture: any
Depends: rom-properties-kde4, rom-properties-kde5, rom-properties-xfce, rom-properties-gnome, rom-properties-cli, rom-properties-stub, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This is a meta-package that installs all rom-properties packages.

Package: rom-properties-kde4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the KDE 4 version.

Package: rom-properties-kde5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the KDE 5 version.

Package: rom-properties-xfce
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the XFCE version.

Package: rom-properties-gnome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rom-properties-stub
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the Nautilus (GNOME 3, Unity) version.
 The stub package is required for thumbnailing.

Package: rom-properties-cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the command line version.

Package: rom-properties-stub
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ROM Properties Page shell extension
 This shell extension provides thumbnailing and property page functionality
 for ROM images, disc images, and save files for various game consoles,
 including Nintendo GameCube and Wii.
 .
 This package contains the stub executable, which is used for the
 configuration UI and GNOME thumbnailer.
