#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

TMP := $(CURDIR)/debian/tmp

%:
	dh $@ --parallel -Bbuild

# NOTE: gcc-6.1 or later is required for LTO.
# Disable LTO on Ubuntu 16.04 "Xenial" Xerus and earlier.
# Enable LTO on Ubuntu 18.04 "Bionic" Beaver and later.

CMAKE_OPTIONS := \
	-DCMAKE_BUILD_TYPE=Release \
	-DENABLE_JPEG=ON \
	-DSPLIT_DEBUG=OFF \
	-DINSTALL_DEBUG=OFF \
	-DINSTALL_APPARMOR=ON \
	-DUSE_SECCOMP=ON \
	-DBUILD_KDE4=OFF \
	-DBUILD_KF5=ON \
	-DBUILD_KF6=OFF \
	-DBUILD_XFCE=OFF \
	-DBUILD_GTK3=ON \
	-DBUILD_GTK4=OFF \
	-DBUILD_CLI=ON \
	-DTRACKER_INSTALL_API_VERSION=3 \
	-DENABLE_PVRTC=ON \
	-DENABLE_OPENMP=ON \
	-DENABLE_LTO=ON \
	-DENABLE_PCH=ON \
	-DUSE_SECCOMP=ON \
	-DENABLE_SECCOMP_DEBUG=OFF
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
CMAKE_OPTIONS += -DBUILD_TESTING=ON -DUSE_XVFB=ON
endif

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_OPTIONS)

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	cd build && CTEST_OUTPUT_ON_FAILURE=1 LD_LIBRARY_PATH=$(shell pwd)/build/lib:$(shell pwd)/lib ctest -V
endif
