[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Extended Attributes Viewer
ServiceTypes=KPropertiesDialog/Plugin

# KDE service settings
X-KDE-Library=xattrview-kf6
X-KDE-ServiceTypes=KPropertiesDialog/Plugin
X-KDE-Protocol=file
X-KDE-Protocols=file,desktop

# Supported MIME types
MimeType=application/octet-stream;inode/directory
