name: Codecov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install required packages
        run: |
          sudo apt-get update
          sudo apt-get install --yes cmake ninja-build libcurl4-openssl-dev zlib1g-dev libpng-dev libjpeg-dev nettle-dev pkg-config libtinyxml2-dev gettext libseccomp-dev libzstd-dev liblz4-dev liblzo2-dev qtbase5-dev qttools5-dev-tools extra-cmake-modules libkf5kio-dev libkf5widgetsaddons-dev libkf5filemetadata-dev libglib2.0-dev libgtk-3-dev libcairo2-dev libthunarx-3-dev libgsound-dev libnautilus-extension-dev libgtk-4-dev lcov
      - name: Run CMake
        run: cmake . -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr -DBUILD_TESTING=ON -DENABLE_COVERAGE=ON -DTRACKER_INSTALL_API_VERSION=3 -G Ninja
      - name: Run Ninja
        run: ninja
      - name: Run tests
        run: ctest -V -C Release
        env:
          LD_LIBRARY_PATH: ${{ github.workspace }}/lib
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          gcov: true
